# Dependencies
node_modules/

# Build Output (The code we generate)
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Junk
.DS_Store
Thumbs.db
.vscode

# Environment variables (Safety)
.env